/* The Modal (background) */
.modal {
	/* Hidden by default */
	display: none;
	/* Stay in place */
	position: fixed;
	/* Sit on top */
	z-index: 1;
	/* Location of the box */
	padding-top: 100px;

	left: 0;
	top: 0;
	/* Full width */
	width: 100%;
	/* Full height */
	height: 100%;
	/* Enable scroll if needed */
	overflow: auto;
	/* Fallback color */
	background-color: rgb(0, 0, 0);
	/* Black with opacity */
	background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
	background-color: #212121;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.modal-content.width-60 {
	width: 60%;
}
.modal-content.width-40 {
	width: 40%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}